<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; Duelist Kingdom Cards 2023</small>
      <small class="text-muted">Email: mcastrocortes@rrc.ca</small><br>
      <small><a href="https://github.com/neo-miguel-castro/e-commerce-webd" class="text-muted">Project Repository</a></small>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Help Center</a></li>
        <li><a class="text-muted" href="#">Contact Us</a></li>
        <li><a class="text-muted" href="/about">About Us</a></li>
        <li><a class="text-muted" href="#">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>
